* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* fonts */
  --font1: 'Nanum Gothic', sans-serif;
  --font2: 'Lato', sans-serif;

  /* colours */
  --text-color1: #3e3e3e;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.sectionA {
  background: url(../images2/main_big.png);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: cover;
}

/* nav bar */

.topNav {
  display: none;
  background-color: #3e3e3e;
  height: 6vh;
  padding: 7px 175px 3px 0;
}

.topNav-icons {
  display: flex;
  align-items: center;
  float: right;
}

.topNav-icons li a {
  margin: 0 10px;
  text-decoration: none;
  font-family: var(--font1);
  color: #fff;
  font-size: 13px;
  line-height: 22px;
}

.topNav-icons li a img {
  margin-top: 4px;
}

.topNav-icons li a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* down-nav */

.downNav {
  display: none;
  background-color: #fff;
  height: 11vh;
  padding: 10px 150px 20px 30px;
  box-shadow: 0 0 10px 0 #3e3e3e8f;
}

.navlinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.middleLink {
 margin-left: 150px;
}

.rightLinks {
  display: flex;
  align-items: center;
}

.rightLinks li {
  margin: 0 30px;
}

.rightLinks li a {
  color: #888888;
  font-size: 16px;
  font-family: var(--font2);
  font-weight: 600;
}

.rightLinks li#about a {
  color: #ef513c;
}

.rightLinks li#campaign {
  border: 5px solid #ef513c;
  padding: 10px 5px;
}

.rightLinks li#campaign a {
  padding: 5px;
  color: #ef513c;
}

/* intro section */

.introSection {
  padding: 30px 20px 50px 20px;
}

.mobile_menu img {
  width: 20px;
}

.event img {
  margin-top: 80px;
  width: 100%;
}

.description-container {
  border: 5px solid #fff;
  background-color: #f4f4f4;
  margin-top: 80px;
}

.description {
  font-family: var(--font2);
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color1);
  padding: 20px 20px;
}

.time {
  color: var(--text-color1);
  font-family: 'Wendy One', sans-serif;
  margin-top: 20px;
  font-size: 24px;
  line-height: 32px;
}

.venue {
  color: var(--text-color1);
  font-family: var(--font2);
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

/* section B */

.programe-schedule {
  background: url(../images2/bg2-repeat.png);
  background-position: 50% 100%;
  background-color: #2b2a2a;
  opacity: 1;
  padding: 30px 20px 40px 20px;
}

.heading {
  text-align: center;
  position: relative;
  margin-bottom: 50px;
}

.heading-text {
  color: #fff;
  font-size: 20px;
  font-family: var(--font2);
  letter-spacing: 0.5;
}

.heading-text::after {
  content: '';
  left: 150px;
  right: 0;
  bottom: 0;
  top: 40px;
  position: absolute;
  width: 50px;
  height: 1px;
  background: #ef513c;
}

.schedule1 {
  margin: 10px 0 0 0;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
}

.schedule1 img {
  width: 50px;
  margin-right: 10px;
}

.activity {
  color: #ef513c;
  font-family: var(--font2);
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  grid-column: span 2;
}

.activity-description {
  font-family: #f4f4f4;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.5px;
  grid-column: span 3;
  margin-left: 10px;
}

.schedule-btn {
  text-align: center;
}

.join-btn {
  background-color: #ef513c;
  padding: 20px 20px;
  margin-top: 30px;
  border: none;
  outline: none;
  width: 300px;
  overflow-x: hidden;
}

.join-btn a {
  color: #fff;
  font-family: var(--font2);
  font-size: 24px;
  line-height: 32px;
  position: relative;
}

.join-btn a::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  border-left: 1px solid #fff;
  background-color: #ef513c;
  animation: typing 5s steps(22) infinite;
  overflow-x: hidden;
}

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -10px 0 15px;
  }
}

.speakers {
  margin-top: 30px;
  padding: 20px 20px 20px 20px;
  background-color: #fff;
}

.summit-speakers {
  text-align: center;
  position: relative;
}

.speaker-title {
  font-family: var(--font2);
  color: var(--text-color1);
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
}

.speaker-title::after {
  content: '';
  left: 150px;
  right: 0;
  bottom: 0;
  top: 50px;
  width: 60px;
  height: 1px;
  position: absolute;
  background-color: #ef513c;
}

.speakers-container {
  margin-top: 60px;
  display: grid;
}

.speaker1 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  column-gap: 20px;
  margin-bottom: 40px;
}

.speaker-pic {
  width: 100%;
  grid-column: span 2;
}

.speaker-desc {
  grid-column: span 4;
  position: relative;
}

.name {
  font-family: var(--font2);
  color: var(--text-color1);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.position {
  color: #ef513c;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  font-style: italic;
}

.position::after {
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  top: 80px;
  width: 40px;
  height: 1px;
  position: absolute;
  background-color: var(--text-color1);
}

.contributions {
  margin-top: 20px;
  font-family: var(--font2);
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: var(--text-color1);
}

.more {
  margin: 30px 20px;
  background-color: #fff;
  height: 200px;
  text-align: center;
  position: relative;
}

.drop-down {
  border: 1px solid var(--text-color1);
  padding: 20px 0;
  font-family: var(--font2);
  font-size: 18px;
  font-weight: 700;
  color: var(--text-color1);
}

.drop-down::after {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: '\f107';
  left: 90px;
  right: 0;
  bottom: 0;
  top: 25px;
  position: absolute;
  color: #ef513c;
  font: var(--fa-font-solid);
}
